.CurrentReading {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0;
  padding-bottom: 20px;
  

}
.loading {
  padding-top: 150px;
}
.loading-message {
  display: flex;
  justify-content: center;
}
.spinner {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: whitesmoke;
  width: 100%;
  height: 50px;
}
.flex-graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data-container {
  border: solid 5px lavender; /*Create individual borders around readings */
  border-radius: 10px; /*Rounded corners*/
  width: 42.5vw; /*standard width for each container*/
  height: 45vh;
  justify-content: center;
  margin-bottom: 10px;
}


.vertical-bar-container{
  border: solid 5px lavender; /*Create individual borders around readings */
  border-radius: 10px; /*Rounded corners*/
  width: 42.5vw; /*standard width for each container*/
  height: 45vh;
  justify-content: center;
  margin-bottom: 10px;
}


.bar-container{
  border: solid 5px lavender; /*Create individual borders around readings */
  border-radius: 10px; /*Rounded corners*/
  width: 42.5vw; /*standard width for each container*/
  height: 45vh;
  justify-content: center;
  margin-bottom: 10px;
}

.map-container{
  border: solid 5px lavender; /*Create individual borders around readings */
  border-radius: 10px; /*Rounded corners*/
  width: 42.5vw; /*standard width for each container*/
  height: 45vh;
  justify-content: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 705px) {
  .bar-container {
      height: 23vh;
    }
}



@media screen and (max-width:700px) {
  .flex-graphs{
    justify-content: space-between;
  }
  .bar-container {
    width: 100vw;
    height: 30vh;
  }
  .vertical-bar-container{
    width: 100vw;
    height: 34vh;
  }
 .data-container{
  height: 45.5vh;
  width: 100vw;
 }
 .map-container{
  height: 46.75vh;
  width: 100vw;
 }
 .spinner {
  padding-top: 100px;
}
}
@media screen and (max-width:320px) {
  .vertical-bar-container{
    height: 37vh;
  }
}