.chart-container {
  position: relative;
  margin: auto;
  width: 700px;
  padding-top: 25px;
}

.bar-title {
 background: linear-gradient(
    45deg,
    #19547b,
    #ffd89b
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-right-radius: 3px; /*Rounded corners*/   
}
@media screen and (max-width: 1500px) {
  .chart-container {
    width: 750px;
  }
}


@media screen and (max-width: 840px) {
  .chart-container {
    width: 600px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 680px) {
  .bar-title {
    font-size: 12px;
  }
  .chart-container {
    width: 90vw;
  }
}

