.chart-container {
  position: relative;
  margin: auto;
  width: 700px;
  padding-top: 25px;
}

.bar-title {
  background-color: lavender;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media screen and (max-width: 1500px) {
  .chart-container {
    width: 750px;
  }
}


@media screen and (max-width: 840px) {
  .chart-container {
    width: 600px;
    padding-top: 45px;
  }
}
@media screen and (max-width: 680px) {
  .bar-title {
    font-size: 12px;
  }
  .chart-container {
    width: 90vw;
    padding-top: 60px;
  }
}

@media screen and (max-height: 850px) {
  .chartjs-render-monitor {
 
    height:30vh !important;
  
  }
}
