.chart-container {
    position: relative;
  margin: auto;
  width: 38vw;
  padding-top: 25px;
}

.bar-title{
    background-color: lavender;
     display: flex;
         flex-wrap: wrap;
         justify-content: center;
         padding-top: 2px;
         padding-bottom: 2px;
         
 }
 

 @media screen and (max-width: 500px) {
    .bar-title {
        font-size:12px;
      }
  }

  @media screen and (max-width: 411px) {
    .chart-container {
    padding-top: 7px;
  }
  }
