.changes-container{
    border: solid 5px  lavender; /*Create individual borders around readings */
    border-radius: 10px; /*Rounded corners*/ 
    width: auto;
}

.changes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.change{
    display: flex;
    justify-content: center;
    
}
.changes-title {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:  lavender;
    margin: 0;
    color: black;
  }
