  
.graph-selector {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.graphs-title{
  width:100%;
  display: flex;
  justify-content: left;
  margin-top: 8px;
  margin-left: 25px;
}

.on-hover {
  cursor: pointer;
  margin-bottom: 0px;
}

.blue {
  color: blue;
}
.default {
  color: grey;
}

@media screen and (max-width: 720px) {
  .on-hover {
    margin-top: 0px;
  }
}