.nav{
  //: hidden;	/*To hide the horizontal scroller appearing during the animation*/
  flex: none !important; 
  width:100%;
    background: url(../../assets/clouds.jpg);
    background-size: cover;
 //   background-color: whitesmoke;
   
.active{
  color: yellow;
}
    .list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-evenly;
        padding:10px;
        margin: 0px;
      }

      .navbar-item {
        padding: 10px;
        font-size:3vh; /* Font size normally*/ 
      }

      a{
        text-decoration: none;
        color: black;
      }
    
      a:hover{
        color: rgb(255, 196, 0);
      }

      .default {
        color: black;
      }
    
      .stayOrange {
        color: orange;
      }

      @media screen and (max-width: 500px) {
        .navbar-item {
            
            font-size:20px; /* Font size normally*/ 
          }
      }

}



