.nav{
  display: flex;
  flex-wrap: wrap-reverse;
  width:auto;
  padding-left: 40px;
  padding-right:40px;
  //flex-direction: column;
  margin: 0px auto 0;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  
  span:last-of-type { //push logo to end of div
    margin-left: auto;
   
  }
  @media screen and (max-width: 1080px) {
    span:last-of-type  { 
      margin-left: 0px;
      }
  }
.active{
  color: yellow;
}
    .list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        //justify-content: space-between;
        margin: 0px;
      }

      .navbar-item {
        padding: 10px;
        font-size:30px; /* Font size normally*/ 
      }

      a{
        text-decoration: none;
        color: black;
      }
    
      a:hover{
        color: rgb(255, 196, 0);
      }

      .default {
        color: black;
      }
    
      .stayOrange {
        color: orange;
      }

      @media screen and (max-width: 900px) {
        .navbar-item { 
            font-size:24px; 
          }
      }

      @media screen and (max-width: 500px) {
        .navbar-item { 
            font-size:18px; /* Font size normally*/ 
          }
      }

}
ul{
  padding: 0px;
}



