td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    
  }
  th {
      background-color: rgb(190, 184, 184);
  }
  tr {
    &:hover {
     background: #f4f4f4;
     
     td {
       color: #555;
     }
   }
}
.table-styles{
  height: 80%;
  width: 90%;
  margin: 25px;
}
@media screen and (max-width: 860px) {
  td, th {
      padding: 0rem;
      font-size: 14px; 
    }
}

@media screen and (max-width: 620px) {
    td, th {
        padding: 0rem;
        font-size: 11px; 
      }
  }

  @media screen and (max-width: 375px) {
    td, th {
        font-size: 10px; 
      }
  }
@media screen and (max-width: 325px) {
    td, th {
        font-size: 9px; 
      }
  }