.CurrentReading {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0;
  padding-bottom: 20px;
}
.footer {
  background-color: whitesmoke;
  width: 100%;
  height: 50px;
}
.flex-graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data-container {
  border: solid 5px lavender; /*Create individual borders around readings */
  border-radius: 10px; /*Rounded corners*/
  width: 46.3vw; /*standard width for each container*/
  height: 45vh;
  justify-content: center;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

@media screen and (max-width:1500px) {
 .data-container{
  width: 100vw;
 }
 
}

